version: 2.1
jobs:
  deploy:
    docker:
      - image: cimg/base
    steps:
      - attach_workspace:
          at: my-site
      - run: ls -lah my-site
orbs:
  hugo: circleci/hugo@0.2
workflows:
  main:
    jobs:
      - hugo/build:
          html-proofer: true
          source: ./
          version: '0.55'
      - deploy:
          filters:
            branches:
              only: master
          requires:
            - hugo/build