version: 2.1

jobs:
  build:
    docker:
      - image: cibuilds/hugo:latest
    working_directory: ~/hugo
    environment:
      HUGO_BUILD_DIR: ~/hugo/public
    steps:
      - checkout
      # build with Hugo
      - run:
          name: generate static files
          command: HUGO_ENV=production hugo -v -d $HUGO_BUILD_DIR
      - run:
          name: test our generated HTML files
          command: |
            htmlproofer $HUGO_BUILD_DIR --allow-hash-href --check-html \
            --empty-alt-ignore --disable-external
      - store_artifacts:
          path: $HUGO_BUILD_DIR
          destination: artifact-hugo-public
  deploy:
    docker:
        - image: cimg/base
    environment:
      HUGO_BUILD_DIR: ~/hugo/public
    steps:
      - run:
          name: dumnmy display
          command: |
            ls -alR

workflows:
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master
